:root {
  line-height: 1.5;
  font-weight: 400;
  --default-spacing: 10px;
  --default-margin: 1rem;
  --medium-margin: 3rem;
  --larger-margin: 5rem;
  --primary-color: var(--bs-primary);
}

* {
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
}

/* common css starts */

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 992px;
}

.title {
  font-family: 'Young Serif', serif;
  font-size: 3.7rem;
  font-weight: bold;
  text-align: center;
  margin-top: var(--medium-margin);
  color: var(--primary-color);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--default-margin);
  margin-top: var(--medium-margin);
  margin-bottom: var(--medium-margin);
}

.buttons .btn,
.buttons .btn:active,
.buttons .btn:focus {
  background-color: var(--primary-color);
  box-shadow: none;
  outline: none;
  border: none;
}

.error-msg {
  color: #ff0000;
  text-align: center;
}

/* common css ends */

/* search section starts */

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--medium-margin);
}

.search-section .search-input {
  min-width: 410px;
  padding: var(--default-spacing);
  border-color: var(--primary-color);
}

.search-section .search-btn {
  margin-left: var(--default-spacing);
}

/* search section ends */

/* filters section starts */

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin-top: var(--default-margin);
}

.filters > * {
  padding: 5px 10px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* filters section ends */

/* images section starts */

.images {
  margin-top: var(--medium-margin);
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: var(--default-spacing);
  justify-content: center;
  align-items: center;
}

.images .image {
  width: 200px;
  height: 200px;
  justify-self: center;
  align-self: center;
  border-radius: 10px;
  transition: transform 0.5s;
  object-fit: cover;
}

.images .image:hover {
  transform: scale(1.05);
}

/* images section ends */

@media (max-width: 480px) {
  .search-section {
    margin-block: var(--default-spacing);
  }

  .search-section .search-input {
    min-width: 90%;
  }

  .images {
    margin-inline: auto;
    grid-template-columns: 1fr;
  }

  .filters {
    width: 210px;
    margin-inline: auto;
    height: 34px;
    overflow: hidden;
  }

  .title {
    width: 90%;
    margin: var(--default-margin) auto;
  }
}
